.search-bar {
  width: 70vw;
  height: 30px;
  position: absolute;
  top: 25%;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  justify-content: center;
  border-bottom: 2px solid #ccc;
}
.search-bar .search{
  display: flex;
}
.search-bar .search input {
  width: 100%;
  border: none;
}
.search-bar .search .icons {
  position: absolute;
  right: 10px;
  align-items: center;

}