body {
  background-color: rgb(255, 228, 228);
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro';
}
a {
  text-decoration: none;
  color: #fff;
}

/* header */
header {
  background-color: rgb(28, 43, 75);
  color : #fff;
  display: block;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}
.navbar__logo {
  font-size: 24px;
}
.navbar__logo i {
  color: orange;
}
.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0px;
}
.navbar__menu li:hover {
  background-color: orange;
  border-radius: 5px;
}
.navbar__menu li {
  padding: 0 12px;
}
.navbar__icons {
  display: flex;
  list-style: none;
  padding-left: 0px;
}
.navbar__icons li {
  padding: 8px 12px;
}
.navbar__toggleButton {
  display: none;
  position: absolute;
  top: px;
  right: 32px;
  font: 24px;
  color: orange;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 26px 24px;
  }

  .navbar__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
    padding: 8px 12px;
  }
  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar__toggleButton {
    display: block;
    justify-content: center;
  }
  .navbar__menu.active, .navbar__icons.active {
    display: flex;
  }
}

.search {
  display: flex;
  margin: 168px auto;
}
.searchBar {

}